.mainNavbar {
    border-bottom: black 1px solid;
}

.mainNavbar > div{
   margin: 0 5px;
}

.mainNavbar a {
      text-decoration: none;
    color: #1d1d1d;
  }
.mainNavbar a:hover{
    text-decoration: underline;
    color: #1d1d1d;
}