* {
    box-sizing: border-box;
}

body {
  background: #282c34;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
}

#flex-container > div {
    border: 1px solid;
    width: 20%;
    margin: 0px;
    padding: 0px;
}

#flex-container > div:nth-of-type(2) {
    width: 80%;
}

#flex-container > div:nth-of-type(3) {
    width: 33%;
}

#flex-container > div:nth-of-type(4) {
    width: 34%;
}

#flex-container > div:nth-of-type(5) {
    width: 33%;
}

.game {
    background: #242424;
}

.heart {
    color: red;
}

.padding {
    padding-left: 15px;
}

.exp {
    border: #282c34 1px solid;
    width: 100%;
    float: left;
}

.bag {
    border: #282c34 1px solid;
    width: 100%;
    float: left;
}

.clicked {
    color: #ff7fbf;
}

.heart {
    color: red;
}

.grey {
    color: grey;
}

.white {
    color: white;
}

.center {
    text-align: center;
}

.items {
    height: 100px;
}

.bigFont {
    font-size: 50px;
}

button {
    width: 100%;
    min-height: 40px;
}